<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miaotu" >

    <!-- mob权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="547c143ffd98c542c2000b6a" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.ChooseLoginActivity"
            android:label="@string/title_activity_choose_login"
            android:theme="@style/LoginTheme"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Register1Activity"
            android:label="@string/title_activity_register1"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Register2Activity"
            android:label="@string/title_activity_register2"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Register3Activity"
            android:label="@string/title_activity_register3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CityListActivity"
            android:label="@string/title_activity_register3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_register3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >
        </activity>
        <activity
            android:name=".activity.ChatsActivity"
            android:label="@string/title_activity_register3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.GroupDetailActivity"
            android:label="@string/title_activity_register3"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
